.bodyNav{
  margin-top: none;
  padding: 1em;
background-color: beige;
border-bottom: 1px solid black ;
}
.container{
 
    display: flex;
    font-size: 1em;
    justify-content: center;
    align-items: center;
}

h1{
  text-align: center;
  font-size: 2.5em;
}

.my-input {
   font-size: 1em;
   padding: 1em;
   justify-items: center
}
.button-create{
    margin-left: 10em;
   
}

.button:hover{
padding: 1.2em;
}



