
.container{
    display: flex;
    font-size: 1em;
    justify-content: center;
    align-items: center;
}

h1{
  text-align: center;
}

.my-input {
   font-size: 1em;
   padding: 1em;
   justify-items: center
}
.button-create{
    margin-left: 10em;
   
}

.button:hover{
padding: 1.2em;
}



