.detailContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

}

.content {
  margin-top: .8em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}


  
  .imageContainer {
    display: grid;
    float: left;
  }
  
  .image {
    width: 90%; 
    height: auto; 
    border-bottom: solid 3px beige;
    border-right: solid 3px beige;
  }
  
  .detali {
    text-align: center;
    float: right 50%;
    font-size: 18px;
    background-color: beige;
    margin-left: 2em;
    padding-right: -2em;
  }

  h3{
    margin:1em;
    
  }
  
  
