.content {
    margin-top: 5em;
    display: flex;
    align-items: center;
  }
  
  .imageContainer {
    display: grid;
    float: left;
  }
  
  .image {
    width: 90%; 
    height: auto; 
    border-bottom: 1px grey solid;
    border-right: 1px grey solid;
  }
  
  .detali {
    float: right;
    font-size: 18px;
    margin-right: 1em;
    background-color: beige;
  }

  h3{
    margin:1em;
    
  }
  
  
